<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="first-name">Nr of items </label>
  <input id="first-name" type="number" formControlName="numItems" />
  <br />

  <label for="last-name">Price per </label>
  <input id="last-name" type="text" formControlName="price" />
  <br />

  <label for="last-name">state </label>
  <input id="last-name" type="text" formControlName="state" />
  <br />

  <button type="submit" [disabled]="!profileForm.valid">Calcualte</button>
</form>

<div>TAX: {{ getTaxRate(this.profileForm.controls.state.value) }}</div>

<div>DISCOUNT RATE: {{ discountRate }}</div>
<div>TOTAL PRICE: {{ output }}</div>

<!-- <div>DEBUG {{ profileForm.value | json }}</div> -->
